[Unit]
Description=echoip Daemon
After=syslog.target network.target

[Service]
WorkingDirectory=/home/echoip
User=echoip
Group=echoip
UMask=0002
Restart=on-failure
RestartSec=5
Type=simple
ExecStart=/usr/local/bin/echoip -r -p -t /home/echoip/index.html -H X-Forwarded-For  -c /home/echoip/GeoLite2-City.mmdb -f /home/echoip/GeoLite2-Country.mmdb -a /home/echoip/GeoLite2-ASN.mmdb
KillSignal=SIGINT
TimeoutStopSec=20
SyslogIdentifier=echoip

[Install]
WantedBy=multi-user.target
