[Unit]
Description=Bazarr Daemon
After=syslog.target network.target

[Service]
WorkingDirectory=/home/echoip
User=echoip
Group=echoip
UMask=0002
Restart=on-failure
RestartSec=5
Type=simple
ExecStart=/usr/local/bin/echoip -r -p -t /var/www/html/index.html -H X-Real-IP  -f /usr/share/GeoIP/GeoLite2-City.mmdb -c /usr/share/GeoIP/GeoLite2-Country.mmdb
KillSignal=SIGINT
TimeoutStopSec=20
SyslogIdentifier=echoip

[Install]
WantedBy=multi-user.target
